/*Tablet*/
@media screen and (min-width: 768px) {

    /* Menu */
    .menu__header {
        padding-left: 1rem;
    }

    .menu__list {
        margin-right: 1rem;
    }

    .menu__list__item__contato {
        font-weight: 700;
    }

    /*title*/

    .title__div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .title__container {
        width: 32.75rem;
        margin-bottom: 1.593rem;
    }

    .title__profile {
        width: 9.125rem;
        height: 9.125rem;
    }

    .title__bio {
        line-height: 1.625rem;
    }

    .title__subsection {
        font-size: 1rem;
        line-height: 1.187rem;
    }

    .title__network {
        font-size: 1rem;
        font-weight: 500;
        margin-right: 4rem;
    }

    .about__container {
        padding: 0 1rem;
        line-height: 1rem;
    }

    .about__title {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    /*Skills*/

    /*Hobbies*/

    section.skills,
    section.hobbies {
        padding-bottom: 2rem;
    }

    .skills__title,
    .hobbies__title {
        margin: 2rem auto;
        font-size: 1.375rem;
    }

    .skills__line,
    .hobbies__line {
        padding: 0 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: calc(100% - 2rem);
        gap: 1rem;
    }



    /*Experiências acadêmicas*/

    .academic__courses {
        display: grid;
        width: calc(100% - 2rem);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100%;
        gap: 1rem;
    }

    .academic__title {
        font-size: 1.375rem;
    }

    .academic__courses__item__title {
        font-size: 1rem;
    }

    .academic__courses__item__subtitle {
        font-size: .875rem;
    }


    /*Expeirência profissional*/

}

@media screen and (min-width: 1024px) {
    section.menu {
        margin-top: 2.1562rem;
        margin-bottom: 4.1562rem;
    }

    .menu__header {
        padding: 0 4rem;
    }

    .menu__list {
        margin-right: 4rem;
        display: flex;
    }


    .menu__list__item {
        display: inline-flex;
        margin-right: 1rem;
        font-size: .875rem;

    }

    .menu__list__item:nth-of-type(6) {
        font-weight: 700;
    }

    .menu__list__item__contato {
        display: none;
    }

    .title__div {
        padding: 0 4rem;
    }

    .title__profile {
        width: 17rem;
        height: 17rem;
    }

    .title__container {
        margin-top: 3.8125rem;
        width: 46.937rem;
    }

    .about__container {
        padding-left: 4rem;
        width: 60%;
    }

    .skills__line,
    .hobbies__line {
        width: calc(100% - 8rem);
        padding-left: 4rem;
    }

    .academic__courses {
        width: calc(100% - 8rem);

    }

    section.experience {
        width: calc(100% - 8rem);
    }

    .experiencie__box {
        display: flex;
        margin-bottom: 3.3437rem;
        justify-content: space-between;
        align-items: center;
    }

    .experiencie__box:nth-of-type(2n) {
        flex-direction: row-reverse;
    }

    .experience__info {
        width: 14rem;
    }

    .experience__img {
        width: 37rem;
    }

    section.formcontato {
        padding: 0 4rem;
        width: calc(100% - 8rem);

    }

    .formcontato__contacto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 6.093rem;
        padding-bottom: 3.093rem;
    }

    .formcontato__img {
        display: inline-flex;
        width: 28rem;
        margin-right: 1rem;
        height: 100%;
    }

    .formcontato__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 28rem;
        height: 100%;
    }

}


/*Mobile*/
@media screen and (min-width: 1440px) {

    /*Menu*/

    .menu__header {
        padding: 0 8.5rem;
    }

    .menu__list {
        margin-right: 8.5rem;
    }

    .menu__list__item {
        margin-right: 2rem;
    }

    /*Titulo*/
    .title__div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 8.5rem;
    }

    .title__profile {
        width: 23rem;
        height: 23rem;
    }

    .title__bio {
        font-size: 3.25rem;
        line-height: 3.8125rem;
    }

    .title__subsection {
        font-size: 1.375rem;
        line-height: 1.625rem;
        margin-bottom: 1.6562rem;
    }

    .title__network {
        justify-content: flex-start;
    }

    .title__network__item {
        margin-right: 2.0431rem;
    }

    .title__network__item img {
        margin-left: .2931rem;
    }

    /*Sessão sobre*/

    .about__container {
        padding: 0 8.5rem;
        line-height: 1rem;
    }

    .about__title {
        font-size: 2rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    .about__paragraph {
        font-size: 1rem;
        width: 46.937rem;
        line-height: 1.187rem;
    }

    /*Skills*/
    /*Hobbies*/

    .skills__title,
    .hobbies__title {
        margin: 2rem auto;
        font-size: 2rem;
    }

    section.skills,
    section.hobbies {
        padding: 0;
        padding-bottom: 5.5rem;
        display: flex;
        flex-direction: column;
    }

    .skills__line,
    .hobbies__line {
        width: calc(100% - 17rem);
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100%;
        align-self: center;
        row-gap: 1rem;
    }

    .skills__box ul,
    .hobbies__box ul {
        height: 10.875rem;
    }

    /*Formação Acadêmica*/

    .academic__title {
        font-size: 2rem;
        margin-top: 5.125rem;
    }

    .academic__courses {
        width: calc(100% - 17rem);
    }

    .academic__courses__item__img {
        height: 17.875rem;
    }

    .academic__courses__item__img--etevav {
        width: 8.125rem;
        height: 8.125rem;
    }

    .academic__courses__item__img--unicamp {
        width: 8.125rem;
        height: 8.125rem;
    }

    .academic__courses__item__img--alura {
        width: 12rem;
        height: 8.125rem;
    }

    .academic__courses__item__subtitle {
        margin-bottom: 5.125rem;
    }

    /*Experiência Profissional*/
    section.experience {
        width: calc(100% - 19rem);
    }

    .experience__section__title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .experiencie__box {
        display: flex;
        margin-bottom: 3.3437rem;
        justify-content: space-between;
        align-items: center;
    }

    .experiencie__box:nth-of-type(2n) {
        flex-direction: row-reverse;
    }

    .experience__info {
        width: 23rem;
    }

    .experience__img {
        width: 47rem;
    }

    .experience__title {
        font-size: 1.375rem;
    }

    .experience__text {
        font-size: 1rem;
    }

    /*Contato*/

    section.formcontato {
        display: flex;
        justify-content: center;
    }

    .formcontato__contacto {
        width: calc(100% - 19rem);
        display: flex;
        flex-direction: row;
        padding-top: 8.093rem;
        padding-bottom: 4.093rem;
    }

    .formcontato__img {
        display: inline-flex;
        width: 35.25rem;
        margin-right: 1rem;
    }

    .formcontato__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35.25rem;

    }

    .formcontato__title {
        font-size: 2rem;
    }

    .formcontato__subtext {
        font-size: 1rem;
    }

    /*Footer*/

    .footer__rodape {
        font-size: 1rem;
    }
}