.skills__title,
.hobbies__title {
    margin: 1rem auto 2rem;
    font-size: 1.37rem;
}

.skills__line,
.hobbies__line {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 1fr);
    width: calc(100% - 1rem);
    gap: 1rem;
}

.skills__box ul,
.hobbies__box ul {
    background-color: var(--pure-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 7.37rem;
}


.skills__name,
.hobbies__name {
    margin: 1rem;
    font-weight: 700;
}

.skills__img,
.hobbies__img {
    margin: 0 1rem;
}

.skills__img i::before,
.hobbies__img i::before {
    color: var(--btn-color);
    font-size: 2rem;
}