.none {
    display: none;
    transition: 700ms;
}

.dark,
.light {
    transition: 700ms;
    align-self: flex-start;
    font-size: 1.375rem;
    animation: jello;
    animation-delay: 1s;
    animation-duration: 2s;
}

.dark:hover,
.light:hover {
    cursor: pointer;
}