.footer__rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6.375rem;
    background-color: var(--pure-white);
}

@media screen and (min-width: 1440px) {
    .footer__rodape {
        font-size: 1rem;
    }
}