.academic__courses__item__img {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: var(--pure-white);
    width: 100%;
    height: 7.375rem;
    text-align: center;
}

.academic__courses__item__img--etevav {
    background-color: var(--academic-bg-img);
    width: 3.375rem;
    height: 3.75rem;
    align-self: center;
}

.academic__courses__item__img--unicamp {
    height: 3.75rem;
    width: 3.375rem;
    align-self: center;
}

.academic__courses__item__img--alura {
    width: 6.375rem;
    height: 3.75rem;
    align-self: center;

}

.academic__courses__item__title {
    padding: .5rem 0;
    font-weight: 700;
    line-height: 18.78px;
}

.academic__courses__item__subtitle {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 16px;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .academic__title {
        font-size: 1.375rem;
    }

    .academic__courses__item__title {
        font-size: 1rem;
    }

    .academic__courses__item__subtitle {
        font-size: .875rem;
    }

}

@media screen and (min-width: 1440px) {
    .academic__title {
        font-size: 2rem;
        margin-top: 5.125rem;
    }

    .academic__courses__item__img {
        height: 17.875rem;
    }

    .academic__courses__item__img--etevav {
        width: 8.125rem;
        height: 8.125rem;
    }

    .academic__courses__item__img--unicamp {
        width: 8.125rem;
        height: 8.125rem;
    }

    .academic__courses__item__img--alura {
        width: 12rem;
        height: 8.125rem;
    }

    .academic__courses__item__subtitle {
        margin-bottom: 5.125rem;
    }
}