.formcontato__botao {
    background-color: var(--form-btn);
    color: var(--form-btn-text);
    border: 1px var(--form-btn) solid;
    padding: 0.75rem 1rem;
}

.formcontato__botao:hover {
    cursor: pointer;
    background-color: var(--form-btn-hover);
    border-color: var(--form-btn-hover);
}