.formcontato__input {

    width: 100%;
    height: 2.5rem;
    margin-bottom: 2rem;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px var(--form-border) solid;
    outline: none;
    font-size: 1rem;
    padding-left: .75rem;
    padding-top: 1rem;
}

.formcontato__input:focus {
    border-bottom: 2px var(--form-border-focus) solid;
}


#nome:focus~.formcontato__label--nome,
#nome:not(:focus):valid~.formcontato__label--nome {
    bottom: 5.25rem;
    left: .75rem;
    font-size: .75rem;
    color: var(--btn-color);
}

#nome:not(:focus):valid~.formcontato__label--nome {
    color: var(--placeholder-color);
}

#email:focus~.formcontato__label--email,
#email:not(:focus):valid~.formcontato__label--email {
    bottom: 5.25rem;
    left: .75rem;
    font-size: .75rem;
    opacity: 1;
    color: var(--btn-color);
}

#email:not(:focus):valid~.formcontato__label--email {
    color: var(--placeholder-color);
}

#assunto:focus~.formcontato__label--assunto,
#assunto:not(:focus):valid~.formcontato__label--assunto {
    bottom: 5.25rem;
    left: .75rem;
    font-size: .75rem;
    opacity: 1;
    color: var(--btn-color);
}

#assunto:not(:focus):valid~.formcontato__label--assunto {
    color: var(--placeholder-color);
}

.floating-label {
    position: relative;
    bottom: 4.2rem;
    left: .75rem;
    pointer-events: none;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.2s ease all;
    color: var(--placeholder-color);
}