.experiencia__botao--repo {
    background: transparent;
    border: 1px var(--btn-color) solid;
    color: var(--btn-color);
    padding: 0.75rem 1rem;
}

.experiencia__botao--repo:hover {
    cursor: pointer;
    background-color: var(--btn-hover-sec);
}

.experiencia__botao--demo {
    background-color: var(--btn-color);
    color: var(--pure-white);
    border: 1px var(--btn-color) solid;
    padding: 0.75rem 1rem;
}

.experiencia__botao--demo:hover {
    cursor: pointer;
    background-color: var(--btn-hover-prim);
    border-color: var(--btn-hover-prim);

}

.experience__repo,
.experience__demo {
    margin-top: .5rem;
}

.experience__repo {
    margin-right: 1rem;
}