@import url(about-paragraph.css);
@import url(about-title.css);
@import url(about-container.css);

section.about {
    padding: 1rem;
    background-color: var(--bg-lightblue);
    width: var(--section-width);

}