@import url(hobbies-box.css);
@import url(hobbies-img.css);
@import url(hobbies-line.css);
@import url(hobbies-name.css);
@import url(hobbies-title.css);

section.hobbies {
    text-align: center;
    padding-bottom: 1rem;
    width: var(--section-width);
}

@media screen and (min-width: 768px) {
    section.hobbies {
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    section.hobbies {
        padding: 0;
        padding-bottom: 5.5rem;
        display: flex;
        flex-direction: column;
    }
}